<div>
    <h2>Sign Up</h2>
    <form >
        <div *ngIf="startDetails" class="start_details">
            <div class="mb-3 mt-3">
                <label for="name">*Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" [(ngModel)]="name" value="{{name}}" (input)="verify()" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="surname">*Surname:</label>
                <input type="text" class="form-control" id="surname" placeholder="Enter surname" name="surname" [(ngModel)]="surname" value="{{surname}}" (input)="verify()" required>
            </div>
            <div class="mb-3 mt-3">
                <label for="email">*Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModel)]="email" value="{{email}}" (input)="verify()" required>
                <span *ngIf="!emailValid && submitted" class="text-danger fs-6">Invalid email address</span>
            </div>
            <div class="mb-3 password">
                <label for="pwd">*Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" [(ngModel)]="password" value="{{password}}" (input)="verify()"  required>
                <span *ngIf="!passwordAllowed && submitted" class="text-danger fs-6">Your password does not meet requirements</span>
                <span class="text-muted password-constraints"> 
                    <ol>
                        <li>password must have atleast one number</li>
                        <li>password must have atleast one upper and lower case letters</li>
                        <li>password must have atleast one special character</li>
                        <li>password must be atleast 8 characters in length</li>
                    </ol>
                </span>
            </div> 
            <div class="mb-3">
                <label for="pwd2">*Confirm password:</label>
                <input type="password" class="form-control" id="pwd2" placeholder="Enter password" name="password2" [(ngModel)]="password2" value="{{password2}}" (input)="verify()"  required>
                <span *ngIf="!passwordMatch && submitted" class="text-danger fs-6">passwords do not match</span>
            </div> 
        </div>

        <div *ngIf="moreDetails"  class="more_details"> 
            <label for="designation" class="">Designation:</label>
            <select [(ngModel)]="selectedDesignation" class="form-select" id="designation" name="designation" (change)="institutionStatus()">
                <option>None</option>
                <option>Grade 12 Learner</option> 
                <option>Student</option>
                <option>Tutor</option> 
            </select>  
            <label for="country" class="mt-3">Country:</label>
            <select [(ngModel)]="selectedCountry" class="form-select" id="country" name="country">
                <option>South Africa</option>  
            </select> 
            <label for="institution" class="mt-3">Institution:</label>
            <select [(ngModel)]="selectedInstitution" class="form-select" id="institutions" name="institutions" [disabled]="!institutionEnabled" (change)="verify()">
                <option>None</option>
                <option>Rhodes University</option>
                <option>University of Johannesburg</option>
                <option>University of Pretoria</option>
                <option>University of Free State</option>
                <option>Cape Peninsula University of Technology</option>
                <option>Central University of Technology</option>
                <option>Durban University of Technology</option> 
                <option>Mangosuthu University of Technology</option>
                <option>Nelson Mandela University</option>
                <option>North-West University</option>
                <option>University of Cape Town</option>
                <option>University of Fort Hare</option>
                <option>University of KwaZulu-Natal</option>
                <option>University of Limpopo</option>
                <option>University of Mpumalanga</option>
                <option>University of the Western Cape</option>
                <option>University of the Witwatersrand</option>
                <option>University of Venda</option>
                <option>University of Zululand</option>
                <option>Vaal University of Technology</option>
                <option>Walter Sisulu University</option>
                <option>Tshwane University of Technology</option>
                <option>Sol Plaatje University</option>
                <option>Sefako Makgatho Health Sciences University</option>
            </select> 
            
            <label for="subject" class="mt-3">Specializing Topic:</label>
            <select [(ngModel)]="selectedSubject" class="form-select" id="subject" name="subject" [disabled]="!subjectEnabled" (change)="verify()">
                <option>None</option> 
                <option>Maths</option> 
                <option>English</option> 
                <option>Isixhosa</option>
                <option>Biology</option>
                <option>Physical Sciences</option>
                <option>Chemistry</option>
                <option>Political Sciences</option>
                <option>Law</option>
                <option>Humanities</option>
                <option>Statistics</option>
                <option>Computer Sciences</option>
            </select> 
        </div>
        
        <div class="btn-group mt-3 mb-3">
            <button class="btn btn-primary" type="button" (click)="handleSignUp()" [disabled]="submit_disabled">Submit</button>
            <button *ngIf="startDetails" class="btn btn-primary" type="button" (click)="next()" [disabled]="false">Next</button>
            <button *ngIf="moreDetails" class="btn btn-primary" type="button" (click)="previous()" [disabled]="false">Previous</button>
        </div>
    
        <p class="mt-2">Already have an account? <a routerLink="/login" style="text-decoration: none;">Log in</a></p>
    </form>
    
</div>
