<div class="horizontal-nav">
    <nav class="navbar navbar-expand-sm bg-light justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item m-3">
          <div style="text-align: center;" class="d-flex flex-column"> 
            <a class="btn"><i class="bi bi-paperclip fs-4"></i></a>
          </div>
        </li>
        <li class="nav-item m-3">
          <div style="text-align: center;" class="d-flex flex-column"> 
            <a class="btn"><i class="bi bi-calendar fs-4"></i></a>
          </div>
        </li> 
        <li class="nav-item m-3">
          <div style="text-align: center;" class="d-flex flex-column"> 
            <a class="btn"><i class="bi bi-three-dots-vertical fs-4"></i></a>
          </div>
        </li> 
      </ul>
    </nav>
  </div>