<div class="horizontal-nav">
    <nav class="navbar navbar-expand-sm bg-light justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item m-3">
          <div style="text-align: center;" class="d-flex flex-column"> 
            <a class="btn" data-bs-toggle="tooltip" title="Add friends"><i class="bi bi-person-plus fs-4"></i></a>
          </div>
        </li>
        <li class="nav-item m-3">
          <div style="text-align: center;" class="d-flex flex-column"> 
            <!--<a class="btn"><i class="bi bi-calendar fs-4"></i></a>-->
            <a class="btn" data-bs-toggle="tooltip" title="Calendar" data-bs-toggle="modal" data-bs-target="#myModal">
              <i class="bi bi-calendar fs-4"></i>
              <app-calendar></app-calendar>
            </a> 
          </div>
        </li> 
        <li class="nav-item m-3">
          <div style="text-align: center;" class="d-flex flex-column dropdown dropstart"> 
             
              <a class="btn" data-bs-toggle="tooltip" title="Profile" data-bs-toggle="dropdown">
                <i class="bi bi-three-dots-vertical fs-4"></i>
              </a>
              <ul class="dropdown-menu">
                <li><h5 class="dropdown-header">Profile</h5></li>
                <li><a class="dropdown-item" href="#">Odwa Ntsumane</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Find school mates</a></li>
                <li><h5 class="dropdown-header">Dark mode</h5></li>
                <li *ngIf="true"><a class="dropdown-item" href="#" style="text-align: center;"><i class="bi bi-toggle-off fs-4"></i></a></li>
                <li *ngIf="false"><a class="dropdown-item" href="#" style="text-align: center;"><i class="bi bi-toggle-on fs-4"></i></a></li>
              </ul> 
          </div>
        </li> 
      </ul>
    </nav>
  </div>