<div class="horizontal-nav fixed-top">
    
    <nav class="navbar navbar-expand-sm bg-light justify-content-between">
      <!-- <h2 style="float: start;">LOGO</h2> -->
       <div class="justify-content-start p-2"><img src="logoxx.png" alt="studyo logo" width="180px" height="40px"></div>
      
      <ul class="navbar-nav justify-content-end"> 
        <li class="nav-item m-3">
          <div style="text-align: center;" class="d-flex flex-column"> 
            <a style="cursor: pointer;" data-bs-toggle="tooltip" title="Add friends">
              <i class="bi bi-bell fs-4"><span class="text-white bg-danger rounded-4 fs-6 p-1">10</span></i></a>
          </div>
        </li>
        <li class="nav-item m-3">
          <div style="text-align: center;" class="d-flex flex-column"> 
            <a style="cursor: pointer;" data-bs-toggle="tooltip" title="Donate">
              <i class="bi bi-box2-heart fs-4"></i></a>
          </div>
        </li>
        <!--  -->
        <li class="nav-item m-3">
          <div style="text-align: center;" class="d-flex flex-column"> 
            <a style="cursor: pointer;" data-bs-toggle="tooltip" title="Add friends">
              <i class="bi bi-person-plus fs-4"></i></a>
          </div>
        </li>
        <li class="nav-item m-3">
          <div style="text-align: center;" class="d-flex flex-column"> 
            <!--<a class="btn"><i class="bi bi-calendar fs-4"></i></a>-->
            <div> 
              <a style="cursor: pointer;" data-bs-toggle="tooltip" title="Calendar" data-bs-toggle="modal" data-bs-target="#calendar">
                <i class="bi bi-calendar fs-4"></i>
              </a> 
              <!-- <app-calendar></app-calendar> -->
            </div> 
          </div>
        </li> 
        <li class="nav-item m-3">
          <div style="text-align: center;" class="d-flex flex-column dropdown dropstart"> 
             
              <a style="cursor: pointer;" data-bs-toggle="tooltip" title="Profile" data-bs-toggle="dropdown">
                <i class="bi bi-three-dots-vertical fs-4 text-dark"></i>
              </a>
              <ul class="dropdown-menu">
                <li><h5 class="dropdown-header">Profile</h5></li>
                <li><a routerLink="/profile" class="dropdown-item" href="#" style="text-align: center;"><i class="bi bi-person-circle fs-4"></i></a></li>
                <li><a routerLink="/settings" class="dropdown-item" href="#" style="text-align: center;"><i class="bi bi-gear fs-4"></i></a></li>
                <!-- <li><a class="dropdown-item" href="#">Find school mates</a></li> -->
                <li><h5 class="dropdown-header">Dark mode</h5></li>
                <li *ngIf="true"><a class="dropdown-item" href="#" style="text-align: center;"><i class="bi bi-toggle-off fs-4"></i></a></li>
                <li *ngIf="false"><a class="dropdown-item" href="#" style="text-align: center;"><i class="bi bi-toggle-on fs-4"></i></a></li>
              </ul> 
          </div>
        </li> 
      </ul>
    </nav>
  </div>
  <app-calendar></app-calendar>