<!-- <a routerLink="/" class="text-dark" data-bs-toggle="tooltip" title="Home"><i class="bi bi-arrow-left-short fs-2"></i></a> -->
<div class="d-flex w-100 m-2">
    <div class="chatgroups w-50" style="height: 600px;">
        <div class="bg-light w-100 p-1 border-bottom" style="height: 55px;">
            <p class="fs-4">Chat Groups</p> 
        </div>
        <div class="d-flex flex-column" style="overflow-y: auto; height: 545px;">
            <div *ngFor="let chat of groupChats" class="w-100 p-1 border-bottom chat_group" >
                <span class="float-end me-1">10 min <span *ngIf="newMessageInd && newMessageIndicatorObj.roomId === chat.id" class="spinner-grow spinner-grow-sm text-success" style="font-size: x-small;"></span></span>
                <div class="d-flex" (click)="getMessages(chat.id, chat.title)">
                    <div class="border rounded-4 m-2" style="height: 40px;width: 40px;">
                        <img src="favicon.ico" alt="chat profile" style="max-width: 100%; height: auto;">
                    </div>
                    <div class="mt-2">
                        <a href="chatgroups#" class="fs-5 text-dark" style="text-decoration: none;">{{chat.title}}</a>
                        <p class="text-muted">{{chat.description}}</p>
                    </div>
                </div>
            </div>

            <!-- some placeholder -->
            <div class="w-100 p-1 rounded-bottom-4"> 
                <p style="text-align: center;">Studyo Chat</p>
                <p style="text-align: center;">t&cs</p>
            </div>
        </div>
        
    </div>

    <div class="d-flex flex-column w-50 conversation" style="height: 600px;">
        <div class="w-100 bg-light d-flex justify-content-between" style="height: 10%;">
            <div class="d-flex flex-row">
                <div class="ms-2 mt-1 mb-1 border rounded-4 p-2">
                    <i class="bi bi-people-fill fs-3"></i>
                </div>
                
                <div class="d-flex flex-column mt-3 p-2 justify-content-center">
                    <span class=""><b>{{chatTitle}}</b></span>
                    <div class="text-muted d-flex flex-nowrap">
                        <p>Odwa</p>
                        <p>, Aphele</p>
                        <p>, Andi</p>
                        <p>, Lungi</p> 
                        <p class="text-primary"> ..more</p>
                    </div>
                </div>
            </div> 
            <a href="chatgroups#" class="p-2 text-dark"><i class="bi bi-three-dots-vertical fs-4"></i></a>
        </div>
        <div class="messages ps-4 pe-4 mb-3" style="height: 73%;"> 
            <div class="" style="text-align: center; font-size: small;"><i class="bi bi-lock"></i>end-to-end encrypted</div>
            <div #chatContainer class="w-100 h-100" style="overflow-y: auto;">
                <div *ngFor="let message of filteredMessages" class="w-100 d-flex flex-column flex-nowrap" style="height: fit-content;">
                    <div *ngIf="user[0].username !== message.username" class="message w-100 d-flex mb-3" style="height: fit-content;">
                        <div class="external-message w-50 bg-white rounded-4">
                            
                            <div class="d-flex flex-row w-100">
                                <div class="" style="width: 10%;">
                                    <!-- <p class="fs-6"><span class=""><i class="bi bi-person-circle fs-5"></i></span><span><b class="ps-1">{{message.username}}</b></span></p> -->
                                    <p class="fs-6 bg-white"><img src="jkspr.jpg" alt="chat profile" style="max-width: 95%; height: 80%;" class="rounded-5"></p>
                                </div>
                                <div class="message_body" style="width: 90%;">
                                    <span><b class="ps-1" style="font-size: small;">{{message.full_name}}</b></span>
                                    <span *ngIf="(message.createdAt | date: 'dd/MM/yyyy') === (todayDate | date: 'dd/MM/yyyy')" class="text-muted me-1 float-end ps-1 me-2" style="font-size: small;">{{message.createdAt | date: 'hh:mm' : 'SAST'}}</span>
                                    <span *ngIf="(message.createdAt | date: 'dd/MM/yyyy') === (yesterdayDate | date: 'dd/MM/yyyy')" class="text-muted me-1 float-end ps-1 me-2" style="font-size: small;">Yesterday</span>
                                    <span *ngIf="(message.createdAt | date: 'dd/MM/yyyy') !== (yesterdayDate | date: 'dd/MM/yyyy') 
                                        && (message.createdAt | date: 'dd/MM/yyyy') !== (todayDate | date: 'dd/MM/yyyy')" class="text-muted me-1 float-end ps-1 me-2" style="font-size: small;">{{message.createdAt | date: 'dd/MM/yyyy'}}</span><br>
                                    <!-- <span class="text-muted ms-2 float-start fs-6 emojis_icon"><i class="bi bi-emoji-smile"></i></span><br> -->
                                    <p *ngIf="message.message !== '' && (!message.audioUrl)" class="rounded-4 ps-2 pe-2 pb-2" style="width: fit-content; background-color: rgb(238, 241, 248);">
                                        {{message.message}}
                                        <span class="text-muted ms-2 float-end fs-6 emojis_icon"><i class="bi bi-emoji-smile"></i></span>
                                    </p> 
                                    <p *ngIf="message.audioUrl" style="width: fit-content;">
                                        <!-- <audio *ngIf="audioUrl" class="ms-5 pt-2" src="http://localhost:4001/uploads/audio/Mon-Dec-30-2024/frontaudio.mp3" style="width: 50%; height: 20px;" controls></audio>  -->
                                        <audio controls>
                                            <source [src]="'http://localhost:4001'+message.audioUrl" type="audio/mpeg">  
                                        </audio> 
                                    </p>
                                </div> 
                            </div> 
                        </div>
                        <div class="your-message w-50 p-2">
                            <p class="p-2 bg-white rounded-4"></p>
                        </div>
                    </div>
                    <div *ngIf="user[0].username === message.username"  class="message w-100 d-flex mb-3" style="height: fit-content;">
                        <div class="external-message w-50 p-2">
                            <p class="p-2 bg-white rounded-4"></p>
                        </div>
                        <div class="external-message w-50 bg-white rounded-4">
                            
                            <span *ngIf="(message.createdAt | date: 'dd/MM/yyyy') === (todayDate | date: 'dd/MM/yyyy')" class="text-muted me-1 float-start ps-1 me-2" style="font-size: small;">{{message.createdAt | date: 'hh:mm' : 'SAST'}}</span>
                            <span *ngIf="(message.createdAt | date: 'dd/MM/yyyy') === (yesterdayDate | date: 'dd/MM/yyyy')" class="text-muted me-1 float-start ps-1 me-2" style="font-size: small;">Yesterday</span>
                            <span *ngIf="(message.createdAt | date: 'dd/MM/yyyy') !== (yesterdayDate | date: 'dd/MM/yyyy') 
                                && (message.createdAt | date: 'dd/MM/yyyy') !== (todayDate | date: 'dd/MM/yyyy')" class="text-muted me-1 float-start ps-1 me-2" style="font-size: small;">{{message.createdAt | date: 'dd/MM/yyyy'}}</span>
                            <span class="text-muted me-2 float-end fs-6"><i class="bi bi-emoji-smile"></i></span><br>
                            <!-- <p class="fs-6 bg-white"><img src="jkspr.jpg" alt="chat profile" style="max-width: 15%; height: 15%;" class="rounded-5"><span><b class="ps-1 fs-6">{{message.username}}</b></span></p> -->
                             <div class="you rounded-4 p-2 float-end" style="width: fit-content; background-color: rgb(74, 100, 100);">
                                <p *ngIf="message.message !== '' && (!message.audioUrl)" class="text-white " style="width: fit-content;">
                                    {{message.message}}
                                </p>
                                <p *ngIf="message.audioUrl" style="width: fit-content;">
                                    <!-- <audio *ngIf="audioUrl" class="ms-5 pt-2" src="http://localhost:4001/uploads/audio/Mon-Dec-30-2024/frontaudio.mp3" style="width: 50%; height: 20px;" controls></audio>  -->
                                    <audio controls>
                                        <source [src]="'http://localhost:4001'+message.audioUrl" type="audio/mpeg"> 
                                    </audio> 
                                </p> 
                             </div> 
                             <span class="float-end"><i class="bi bi-check fs-4 text-dark"></i></span>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div style="height: 15%;">
            <div *ngIf="typing" style="text-align: center; font-size: small;" class="text-muted">{{typingData.name}} is typing..</div>
            <div *ngIf="!typing" style="text-align: center; font-size: small; visibility: hidden;" class="text-muted">{{typingData.name}} is typing..</div> 
            <!-- <span *ngIf="newMessageInd && newMessageIndicatorObj.roomId === roomId" class="spinner-grow spinner-grow-sm text-success" style="font-size: x-small;"></span> -->
             
            <audio *ngIf="audioUrl" class="ms-5 pt-2" [src]="audioUrl" style="width: 50%; height: 20px;" controls></audio> 
            <a href="chatgroups#" *ngIf="audioUrl" class="p-3" style="text-decoration: none;" (click)="sendMessage()">Send</a>
            <!--<i class="bi bi-send fs-6"></i>-->
            
            <span *ngIf="isRecording" style="font-size: x-small;">recording..</span>
            <div class="d-flex" style="height: 15%;">
                <a href="chatgroups#" class="mt-2 p-1 h-75 text-dark"><i class="bi bi-plus-square fs-5"></i></a>
                

                <div class="dropup mt-2 p-1">
                    <a href="chatgroups#" class="h-75 text-dark" data-bs-toggle="dropdown"><i class="bi bi-emoji-smile fs-5"></i></a>
                     
                    <ul class="dropdown-menu">
                        <div class="d-flex flex-wrap p-1" style="width: 280px;">
                            <li><a href="chatgroups#" class="emj" (click)="attachEmoji('😂')">😂</a></li> <li><a href="chatgroups#" class="emj" (click)="attachEmoji('👍')">👍</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('😎')">😎</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('😁')">😁</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('😊')">😊</a></li>
                            <li><a href="chatgroups#" class="emj" (click)="attachEmoji('🤣')">🤣</a></li> <li><a href="chatgroups#" class="emj" (click)="attachEmoji('❤️')">❤️</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('😍')">😍</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('😒')">😒</a></li>
                            <li><a href="chatgroups#" class="emj" (click)="attachEmoji('👌')">👌</a></li> <li><a href="chatgroups#" class="emj" (click)="attachEmoji('😘')">😘</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('💕')">💕</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('🙌')">🙌</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('🤦‍♀️')">🤦‍♀️</a></li>
                            <li><a href="chatgroups#" class="emj" (click)="attachEmoji('🤦‍♂️')">🤦‍♂️</a></li> <li><a href="chatgroups#" class="emj" (click)="attachEmoji('🤷‍♀️')">🤷‍♀️</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('🤷‍♂️')">🤷‍♂️</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('✌️')">✌️</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('😉')">😉</a></li>
                            <li><a href="chatgroups#" class="emj" (click)="attachEmoji('🎶')">🎶</a></li> <li><a href="chatgroups#" class="emj" (click)="attachEmoji('😢')">😢</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('💖')">💖</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('😜')">😜</a></li> 
                            <li><a href="chatgroups#" class="emj" (click)="attachEmoji('😃')">😃</a></li> <li><a href="chatgroups#" class="emj" (click)="attachEmoji('😅')">😅</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('😆')">😆</a></li>

                            <li><a href="chatgroups#" class="emj" (click)="attachEmoji('😋')">😋</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('😚')">😚</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('🤗')">🤗</a></li>
                            <li><a href="chatgroups#" class="emj" (click)="attachEmoji('🤔')">🤔</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('🫡')">🫡</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('🤨')">🤨</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('😐')">😐</a></li>
                            <li><a href="chatgroups#" class="emj" (click)="attachEmoji('😑')">😑</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('😶')">😶</a></li><li><a href="chatgroups#" class="emj" (click)="attachEmoji('🫥')">🫥</a></li>
                        </div> 
                    </ul>
                  </div>

                <div class="rounded-4  m-1 text-muted p-2 w-100 d-flex justify-content-between" style="height: fit-content;">
                    <div class="" style="width: 95%;"><textarea name="messageFieldValue" id="message_toSend" rows="1" class="form-control"  placeholder="write message.." [(ngModel)]="messageFieldValue" (keydown.enter)="sendMessage()" (input)="notifyWhenTyping()"></textarea></div>
                    <!-- <div class="" style="width: 95%;"><input type="text" name="" id="" class="border-light form-control" placeholder="write message.."></div> -->
                    <a *ngIf="!isRecording" href="chatgroups#" class="text-dark" style="text-decoration: none;" (click)="startRecording()"><i class="bi bi-mic fs-5"></i></a>
                    <a *ngIf="isRecording" href="chatgroups#" class="text-dark" style="text-decoration: none;" (click)="stopRecording()"><i class="bi bi-mic fs-5"></i></a>
                </div>

                <div>
            </div>
        </div>
    </div>
</div>
