<a routerLink="/" class="text-dark" data-bs-toggle="tooltip" title="Home"><i class="bi bi-arrow-left-short fs-2"></i></a>
<div class="d-flex w-100 border border rounded-4">
    <div class="d-flex flex-column chatgroups w-50">
        <div class="bg-light w-100 p-1 border-bottom">
            <p class="fs-4">Chat Groups</p> 
        </div>
        <div class="bg-light w-100 p-1 border-bottom">
            <span class="float-end me-1">10 min</span>
            <div class="d-flex">
                <div class="border rounded-4 m-2" style="height: 40px;width: 40px;">
                    <img src="favicon.ico" alt="chat profile" style="max-width: 100%; height: auto;">
                </div>
                <div class="mt-2">
                    <a href="#" class="fs-5 text-dark" style="text-decoration: none;">Chemistry 101</a>
                    <p class="text-muted">This conversation is very interesting...</p>
                </div>
            </div>
        </div>
        <div class="bg-light w-100 p-1 border-bottom">
            <span class="float-end me-1">10 min</span>
            <div class="d-flex">
                <div class="border rounded-4 m-2" style="height: 40px;width: 40px;">
                    <img src="favicon.ico" alt="chat profile" style="max-width: 100%; height: auto;">
                </div>
                <div class="mt-2">
                    <a href="#" class="fs-5 text-dark" style="text-decoration: none;">Zoology 201</a>
                    <p class="text-muted">This conversation is very interesting...</p>
                </div>
            </div>
        </div>
        <div class="bg-light w-100 p-1 border-bottom">
            <span class="float-end me-1">10 min</span>
            <div class="d-flex">
                <div class="border rounded-4 m-2" style="height: 40px;width: 40px;">
                    <img src="favicon.ico" alt="chat profile" style="max-width: 100%; height: auto;">
                </div>
                <div class="mt-2">
                    <a href="#" class="fs-5 text-dark" style="text-decoration: none;">Physics 1E</a>
                    <p class="text-muted">This conversation is very interesting...</p>
                </div>
            </div>
        </div>
        <div class="bg-light w-100 p-1 border-bottom">
            <span class="float-end me-1">10 min</span>
            <div class="d-flex">
                <div class="border rounded-4 m-2" style="height: 40px;width: 40px;">
                    <img src="favicon.ico" alt="chat profile" style="max-width: 100%; height: auto;">
                </div>
                <div class="mt-2">
                    <a href="#" class="fs-5 text-dark" style="text-decoration: none;">Computer Science 102</a>
                    <p class="text-muted">This conversation is very interesting...</p>
                </div>
            </div>
        </div>
         
    </div>

    <div class="d-flex flex-column w-50 conversation" style="height: 600px;">
        <div class="w-100 bg-light d-flex justify-content-between rounded-4" style="height: 10%;">
            <div class="ms-2 mt-1 mb-1 border rounded-4 p-2"><i class="bi bi-people-fill fs-3"></i></div>
            <div class="text-muted mt-3 p-3 d-flex flex-nowrap">
                <p>Odwa</p>
                <p>, Aphele</p>
                <p>, Andi</p>
                <p>, Lungi</p>
                <p>, Miz</p> 
                <p class="text-primary"> ..more</p>
            </div>
            <a href="#" class="p-2 text-dark"><i class="bi bi-three-dots-vertical fs-4"></i></a>
        </div>
        <div class="messages p-1" style="height: 75%;"> 
            <div class="bg-light rounded-4" style="text-align: center;">End-to-end encrypted</div>
            <div class="w-100 h-100 d-flex flex-column flex-nowrap" style="overflow-y: auto;">
                <div class="message w-100 d-flex" style="height: fit-content;">
                    <div class="external-message w-50 pt-2 ps-2 pe-2">
                        <p class="bg-light rounded-4 p-1" style="height: fit-content;">
                            Integration is a way of adding slices to find the whole, such as areas, volumes, central points and many useful things.
                        </p>
                    </div>
                    <div class="your-message w-50 p-2">
                        <p class="p-2 bg-white rounded-4"></p>
                    </div>
                </div>
                <div class="message w-100 d-flex">
                    <div class="external-message w-50 p-2">
                        <p class="p-2 bg-white rounded-4"></p>
                    </div>
                    <div class="your-message  w-50 pt-2 ps-2 pe-2">
                        <p class="p-4 bg-primary rounded-4"></p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="d-flex" style="height: 15%;">
            <a href="#" class="m-1 h-75 p-2 text-dark"><i class="bi bi-plus-square fs-5"></i></a>
            <a href="#" class="m-1 h-75 p-2 text-dark"><i class="bi bi-emoji-smile fs-5"></i></a>
            <div class="border rounded-4  m-1 text-muted p-2 w-100 d-flex justify-content-between" style="height: fit-content;">
                <div class="" style="width: 95%;"><input type="text" name="" id="" class="border-light form-control" placeholder="write message.."></div>
                <a href="#" class="text-dark" style="text-decoration: none;"><i class="bi bi-mic fs-5"></i></a>
            </div>
        </div>
    </div>
</div>
