.chat_group:hover {
    background-color: rgb(222, 222, 234);
}

.chat_group:active {
    background-color: rgb(193, 193, 218);
}

.emj {
    text-decoration: none;
}

.emojis_icon {
    display: none;
}

.message_body:hover .emojis_icon {
    display: block;
}