<a routerLink="/" class="text-dark" data-bs-toggle="tooltip" title="Home"><i class="bi bi-arrow-left-short fs-2"></i></a>
<div class="d-flex w-100 border border rounded-4">
    <div class="d-flex flex-column chatgroups w-50">
        <div class="bg-light w-100 p-1 border-bottom">
            <p class="fs-4">Chat Groups</p> 
        </div>
        <div class="bg-light w-100 p-1 border-bottom">
            <span class="float-end me-1">10 min</span>
            <div class="d-flex">
                <div class="border rounded-4 m-2" style="height: 40px;width: 40px;"></div>
                <div class="mt-2">
                    <a href="#" class="fs-5 text-dark" style="text-decoration: none;">Chemistry 101</a>
                    <p class="text-muted">This conversation is very interesting...</p>
                </div>
            </div>
        </div>
        <div class="bg-light w-100 p-1 border-bottom">
            <span class="float-end me-1">10 min</span>
            <div class="d-flex">
                <div class="border rounded-4 m-2" style="height: 40px;width: 40px;"></div>
                <div class="mt-2">
                    <a href="#" class="fs-5 text-dark" style="text-decoration: none;">Zoology 201</a>
                    <p class="text-muted">This conversation is very interesting...</p>
                </div>
            </div>
        </div>
        <div class="bg-light w-100 p-1 border-bottom">
            <span class="float-end me-1">10 min</span>
            <div class="d-flex">
                <div class="border rounded-4 m-2" style="height: 40px;width: 40px;"></div>
                <div class="mt-2">
                    <a href="#" class="fs-5 text-dark" style="text-decoration: none;">Physics 1E</a>
                    <p class="text-muted">This conversation is very interesting...</p>
                </div>
            </div>
        </div>
        <div class="bg-light w-100 p-1 border-bottom">
            <span class="float-end me-1">10 min</span>
            <div class="d-flex">
                <div class="border rounded-4 m-2" style="height: 40px;width: 40px;"></div>
                <div class="mt-2">
                    <a href="#" class="fs-5 text-dark" style="text-decoration: none;">Computer Science 102</a>
                    <p class="text-muted">This conversation is very interesting...</p>
                </div>
            </div>
        </div>
         
    </div>

    <div class="d-flex flex-column w-50 conversation" style="height: 600px;">
        <div class="w-100 bg-dark d-flex rounded-4" style="height: 10%;">
            <div class="border rounded-4 m-2" style="height: 40px;width: 40px;"></div>
            <div class="text-white p-3 d-flex">
                <p>Odwa</p>
                <p>, Aphele</p>
                <p>, Andi</p>
                <p>, Lungi</p>
                <p>, Miz</p> 
                <p class="text-primary"> ..more</p>
            </div>
        </div>
        <div class="" style="height: 80%;"> 

        </div>
        <div class="" style="height: 10%;">
            <div class="border rounded-4  m-1 h-75 text-muted p-2">send message</div>
        </div>
    </div>
</div>
