<div>
  <app-horizontal-nav-bar></app-horizontal-nav-bar>
  <div class="d-flex">
    <app-vertical-nav-bar></app-vertical-nav-bar>
    <div class="content container mt-2">
      <a class="btn" *ngIf="!hide_chats" (click)="hideChats()" data-bs-toggle="tooltip" title="hide chats"><i class="bi bi-chevron-compact-down fs-4"></i></a>
      <a class="btn" *ngIf="hide_chats" (click)="hideChats()" data-bs-toggle="tooltip" title="show chats"><i class="bi bi-chevron-compact-up fs-4"></i></a>
      <app-chats-view *ngIf="!hide_chats"></app-chats-view>
      <app-articles></app-articles>
    </div>
  </div>
  

</div>