

<div>
  <div class="horizontal-nav">
    <nav class="navbar navbar-expand-sm bg-light justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item m-3">
          <div style="text-align: center;" class="d-flex flex-column"> 
            <a class="btn"><i class="bi bi-paperclip fs-4"></i></a>
          </div>
        </li>
        <li class="nav-item m-3">
          <div style="text-align: center;" class="d-flex flex-column"> 
            <a class="btn"><i class="bi bi-calendar fs-4"></i></a>
          </div>
        </li> 
        <li class="nav-item m-3">
          <div style="text-align: center;" class="d-flex flex-column"> 
            <a class="btn"><i class="bi bi-three-dots-vertical fs-4"></i></a>
          </div>
        </li> 
      </ul>
    </nav>
  </div>
  <div class="d-flex">
    <div class="vertical-nav bg-light"> 
      <div class="clearfix">
        <div class="float-start">
          <ul class="nav flex-column">
            <li class="nav-item ms-2 ">
              <div style="text-align: center;" class="d-flex flex-column">
                <a class="btn fs-1"><i class="bi bi-list"></i></a>
              </div>
            </li>
            <li class="nav-item ms-2 mt-2">
              <div style="text-align: center;" class="d-flex flex-column">
                <a class="btn"><i class="bi bi-folder2 fs-4"></i></a>
                <p style="font-size: small;">Repository</p>
              </div>
              
            </li> 
            <li class="nav-item ms-2 mt-2">
              <div style="text-align: center;" class="d-flex flex-column"> 
                <a class="btn"><i class="bi bi-info-circle fs-4"></i></a>
                <p style="font-size: small;">Help</p>
              </div>
              
            </li>
            <li class="nav-item ms-2 mt-2">
              <div style="text-align: center;" class="d-flex flex-column">  
                <a class="btn"><i class="bi bi-box-arrow-in-left fs-4"></i></a>
                <p style="font-size: small;">Log out</p>
              </div>
              
            </li>
            
          </ul>
        </div>
      </div>
    </div>

    <div class="content container mt-2">
      <a class="btn"><i class="bi bi-arrow-left fs-4"></i></a>
      <h3 class="mt-2">Chats</h3>
      <div style="height: 200px;" class="w-100 d-flex flex-row justify-content-around flex-nowrap">
        <div class="border border-secondary w-25 rounded-4" style="height: 190px;">
           
        </div>
        <div class="border border-secondary w-25 rounded-4" style="height: 190px;">
             
        </div>
        <div class="border border-secondary w-25 rounded-4" style="height: 190px;">
            
        </div>
      </div>
      <h3 class="mt-2">Articles</h3>

      <div class="articles d-flex flex-column">
        <ul class="article-list">
          <li class="article-list-item border-bottom rounded p-2 bg-light">
            <span class="text-muted float-end">10/02/2024</span>
            <p class="profile-name fs-4">
              <i class="bi bi-person-circle fs-1 me-2"></i>
              <span>Name Surname </span></p> 
            <p class="article-headline fs-5">Headline </p>
            <div class="article-text">
              To use Bootstrap Icons in your project after running npm install bootstrap-icons, 
              you need to include the ..see more
            </div>
          </li>
          <li class="article-list-item border-bottom rounded p-2 bg-light">
            <span class="text-muted float-end">10/02/2024</span>
            <p class="profile-name fs-4">
              <i class="bi bi-person-circle me-2"></i>
              <span>Name Surname </span></p> 
            <p class="article-headline fs-5">Headline </p>
            <div class="article-text">
              To use Bootstrap Icons in your project after running npm install bootstrap-icons, 
              you need to include the ..see more
            </div>
          </li>
          <li class="article-list-item border-bottom rounded p-2 bg-light">
            <span class="text-muted float-end">10/02/2024</span>
            <p class="profile-name fs-4">
              <i class="bi bi-person-circle me-2"></i>
              <span>Name Surname </span></p> 
            <p class="article-headline fs-5">Headline </p>
            <div class="article-text">
              To use Bootstrap Icons in your project after running npm install bootstrap-icons, 
              you need to include the ..see more
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  

</div>