<div class="modal fade" id="newfoldermodal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">New folder</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form>
                <div class="mb-3 mt-3">
                  <label for="title_" class="form-label">Title:</label>
                  <input type="text" class="form-control" id="title_" placeholder="Enter name" name="name_">
                </div> 
                <div class="mb-3 mt-3">
                    <label for="title_" class="form-label">Course:</label>
                    <select class="form-select" id="designation" name="designations">
                        <option>Law</option>
                        <option>Science</option>
                        <option>Humanities</option>
                        <option>IT</option> 
                        <option>Other</option> 
                    </select>
                </div> 
              </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Create folder</button>
        </div>
  
      </div>
    </div>
  </div>