<div class="modal fade" id="newfoldermodal" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">New folder</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form> 
                <p *ngIf="create_fail_ind" class="text-danger">{{create_fail_message}}</p>
                <div class="mb-3 mt-3">
                  <label for="title_" class="form-label">Title:</label>
                  <input type="text" class="form-control" id="title_" placeholder="Enter title" name="title_" (change)="verify()" [(ngModel)]="newFolder.title">
                </div> 
                <div class="mb-3 mt-3">
                  <label for="description" class="form-label">Description <span class="text-muted"> (Optional)</span>:</label>
                  <input type="text" class="form-control" id="description" placeholder="Write a description" name="description" (change)="verify()" [(ngModel)]="newFolder.description">
                </div> 
                <div class="mb-3 mt-3">
                    <label for="designation" class="form-label">Course:</label>
                    <select class="form-select" id="designations" name="designations1" (change)="verify()" [(ngModel)]="newFolder.course">
                        <option>Law</option>
                        <option>Science</option>
                        <option>Humanities</option>
                        <option>IT</option> 
                        <option>Other</option> 
                    </select>
                </div> 
                <div class="mb-3 mt-3">
                  <label for="years" class="form-label">Academic year:</label>
                  <select [(ngModel)]="newFolder.year" class="form-select" id="years" name="years1" (change)="verify()">
                      <option>2015</option>
                      <option>2016</option>
                      <option>2017</option>
                      <option>2018</option> 
                      <option>2019</option>
                      <option>2020</option>
                      <option>2021</option>
                      <option>2022</option>
                      <option>2023</option>
                      <option>2024</option>
                      <option>2025</option> 
                  </select>
              </div> 
              <div class="mb-3 mt-3">
                <label for="universities" class="form-label">University:</label>
                <select [(ngModel)]="newFolder.university" class="form-select" id="universities" name="universities1" (change)="verify()">
                  <option>Rhodes University</option>
                  <option>University of Johannesburg</option>
                  <option>University of Pretoria</option>
                  <option>University of Free State</option>
                  <option>Cape Peninsula University of Technology</option>
                  <option>Central University of Technology</option>
                  <option>Durban University of Technology</option> 
                  <option>Mangosuthu University of Technology</option>
                  <option>Nelson Mandela University</option>
                  <option>North-West University</option>
                  <option>University of Cape Town</option>
                  <option>University of Fort Hare</option>
                  <option>University of KwaZulu-Natal</option>
                  <option>University of Limpopo</option>
                  <option>University of Mpumalanga</option>
                  <option>University of the Western Cape</option>
                  <option>University of the Witwatersrand</option>
                  <option>University of Venda</option>
                  <option>University of Zululand</option>
                  <option>Vaal University of Technology</option>
                  <option>Walter Sisulu University</option>
                  <option>Tshwane University of Technology</option>
                  <option>Sol Plaatje University</option>
                  <option>Sefako Makgatho Health Sciences University</option>
                  <option>Other</option>
                </select>
            </div> 
              </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button *ngIf="!filled_fill_ind" type="button" class="btn btn-primary" (click)="createFolder()">Create folder</button> <!--data-bs-dismiss="modal"-->
          <button *ngIf="filled_fill_ind" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="createFolder()">Create folder</button> <!---->
        </div>
  
      </div>
    </div>
  </div>