<a routerLink="/repository" class="text-dark" data-bs-toggle="tooltip" title="Home"><i class="bi bi-arrow-left-short fs-2"></i></a>
<div>
    <a type="button" class="btn btn-rounded btn-primary float-end" data-bs-toggle="modal" data-bs-target="#fileuploadmodal">Add</a>

    <!-- The Modal -->
    <div class="modal fade" id="fileuploadmodal">
        <div class="modal-dialog">
            <div class="modal-content"> 

                <div class="modal-header">
                    <h4 class="modal-title">Upload</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div> 

                <div class="modal-body">
                    <input type="file" name="" id="" value="" (change)="onFileSelected($event)">
                </div> 

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="uploadFile()">Upload</button>
                </div>
    
            </div>
        </div>
    </div>

    <ul style="list-style: none;"> 
        <div *ngIf="failLoadingMessage" class="alert alert-danger w-50"> 
            <strong>Failed!</strong> we were unable to upload your file. Please try again
        </div>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Modified</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let file of filteredFiles">
                <td><a href="http://localhost:4001{{file.filepath}}" style="text-decoration: none;" class="text-dark" download><img src="pdf.ico" alt="icon" width="20px" height="20px"> {{file.name}}</a></td>
                <td>{{file.name.split(".")[1]}}</td>
                <td>{{file.createdAt  | date: 'dd/MM/YYYY HH:mm:ss'}}</td> 
              </tr>
            </tbody>
          </table>

        <!-- <li *ngFor="let file of filteredFiles">
            <a href="http://localhost:4001{{file.filepath}}" style="text-decoration: none;" class="text-dark" download><img src="pdf.ico" alt="icon" width="20px" height="20px"> {{file.name}}</a>
        </li> -->
        <div *ngIf="loading" class="spinner-border ms-4" style="width: 20px; height: 20px;"></div>
        
    </ul>
</div>

