<!-- The Modal -->
<div class="modal fade" id="remove">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <!-- <div class="modal-header">
                <h4 class="modal-title">Update User</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div> -->
    
            <!-- Modal body -->
            <div class="modal-body">
                <p style="text-align: center;">Are you sure you want to remove this person?</p>
            </div>
    
            <!-- Modal footer -->
            <div class="modal-footer btn-group">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
    
        </div>
    </div>
</div>