<!-- The Modal -->
<div class="modal fade" id="update">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Update User</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="mb-3 mt-3">
                      <label for="name_" class="form-label">Name:</label>
                      <input type="text" class="form-control" id="name_" placeholder="Enter name" name="name_" value="{{user_.name_}}">
                    </div>
                    <div class="mb-3">
                      <label for="surname_" class="form-label">Surname:</label>
                      <input type="text" class="form-control" id="surname_" placeholder="Enter surname" name="surname_" value="{{user_.surname_}}">
                    </div> 
                    <div class="mb-3">
                        <label for="username_" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="username_" placeholder="Enter username" name="username_" value="{{user_.username_}}" readonly>
                    </div> 
                    <div class="mb-3">
                        <label for="createdat_" class="form-label">CreatedAt:</label>
                        <input type="text" class="form-control" id="createdat_" placeholder="Enter username" name="createdat_" readonly>
                    </div> 
                    <div class="d-flex justify-content-around">
                        <div class="mb-3">
                            <label for="superuser_" class="form-label">SuperUser:</label> 
                            <input class="form-check-input mt-1 ms-2" type="checkbox" id="superuser_" name="superuser_" [checked]="true">
                        </div> 
                        <div class="mb-3">
                            <label for="manageruser_" class="form-label">ManagerUser:</label> 
                            <input class="form-check-input mt-1 ms-2" type="checkbox" id="manageruser_" name="manageruser_" [checked]="true">
                        </div> 
                        <div class="mb-3">
                            <label for="normaluser_" class="form-label">NormalUser:</label> 
                            <input class="form-check-input mt-1 ms-2" type="checkbox" id="normaluser_" name="normaluser_" [checked]="true">
                        </div>
                    </div>
                  </form>
            </div>
    
            <!-- Modal footer -->
            <div class="modal-footer btn-group">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Update</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
    
        </div>
    </div>
</div>