<a routerLink="/" class="text-dark" data-bs-toggle="tooltip" title="Home"><i class="bi bi-arrow-left-short fs-2"></i></a>
<div class="container mt-3">
    <h2>Users</h2>
    <p>List of Stud_Yo Users</p>            
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Designation</th>
            <th>SignUp Request? </th>
            <th>Action? </th>  
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.username}}</td>
                <td>{{user.username==='admin@studyo.co.za' ? 'Admin' : user.selectedDesignation}}</td> 
                <td><div class="btn-group">
                    <a href="#" class="btn btn-secondary">Decline</a>
                    <a href="#" class="btn btn-success">Accept</a>
                </div></td>
                <td><div class="btn-group">
                    <a href="#" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#remove">Remove</a>
                    <app-remove-users-modal ></app-remove-users-modal>  
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update" (click)="getUser(user._id)">Update</a>
                    <app-update-users-modal [user_]="user_"></app-update-users-modal>
                </div></td>
            </tr>
        </tbody>
</table>
</div>
