<a routerLink="/" class="text-dark" data-bs-toggle="tooltip" title="Home"><i class="bi bi-arrow-left-short fs-2"></i></a>
<p>profile works!</p>

<!-- <p class="rounded-4 ps-2 pe-2 pb-2 bg-light" style="width: fit-content;">
    <audio class="ms-5 pt-2" src="http://localhost:4001/uploads/audio/Mon-Dec-30-2024/frontaudio.mp3" style="width: 50%; height: 20px;" controls></audio> 
    <audio class="ms-5 pt-2" controls>
        <source [src]="'http://localhost:4001/uploads/audio/Mon-Dec-30-2024/frontaudio.mp3'" type="audio/mpeg"> 
    </audio> 
</p> -->
