<h3 class="mt-2">Articles</h3>

<div class="articles d-flex flex-column">
<ul class="article-list">
    <li class="article-list-item border-bottom rounded p-2 bg-light">
    <span class="text-muted float-end">10/02/2024</span>
    <p class="profile-name fs-4">
        <i class="bi bi-person-circle fs-1 me-2"></i>
        <span>Name Surname </span></p> 
    <p class="article-headline fs-5">Headline </p>
    <div class="article-text">
        To use Bootstrap Icons in your project after running npm install bootstrap-icons, 
        you need to include the ..see more
    </div>
    </li>
    <li class="article-list-item border-bottom rounded p-2 bg-light">
    <span class="text-muted float-end">10/02/2024</span>
    <p class="profile-name fs-4">
        <i class="bi bi-person-circle me-2"></i>
        <span>Name Surname </span></p> 
    <p class="article-headline fs-5">Headline </p>
    <div class="article-text">
        To use Bootstrap Icons in your project after running npm install bootstrap-icons, 
        you need to include the ..see more
    </div>
    </li>
    <li class="article-list-item border-bottom rounded p-2 bg-light">
    <span class="text-muted float-end">10/02/2024</span>
    <p class="profile-name fs-4">
        <i class="bi bi-person-circle me-2"></i>
        <span>Name Surname </span></p> 
    <p class="article-headline fs-5">Headline </p>
    <div class="article-text">
        To use Bootstrap Icons in your project after running npm install bootstrap-icons, 
        you need to include the ..see more
    </div>
    </li>
</ul>
</div>