<div class="modal fade" id="sellmodal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">What are you selling?</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form>
                <div class="mb-3 mt-3">
                  <label for="name_" class="form-label">Name:</label>
                  <input type="text" class="form-control" id="name_" placeholder="Enter name" name="name_">
                </div> 
                <div class="mb-3 mt-3">
                    <label for="specs" class="form-label">Specs:</label>
                    <input type="text" class="form-control" id="specs" placeholder="List specs separate by ';'" name="specs">
                  </div> 
                <div class="mb-3 mt-3">
                    <label for="price_" class="form-label">Price:</label>
                    <input type="number" class="form-control" id="price_" placeholder="Enter price" name="price_">
                  </div>  
            </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Post</button>
        </div>
  
      </div>
    </div>
  </div>