<div class="modal fade" id="sellmodal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">What are you selling?</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div *ngIf="failed_to_post" class="alert alert-danger">
              <strong>Sorry!</strong> We were unable to upload this information
            </div>
            <form>
                <div class="mb-3 mt-3">
                  <label for="name_" class="form-label">Name:</label>
                  <input type="text" class="form-control" id="name_" placeholder="Enter name" name="name_" [(ngModel)]="product_obj.name" (input)="monitorFields();">
                </div> 
                <div class="mb-3 mt-3">
                    <label for="specs" class="form-label">Specs:</label>
                    <input type="text" class="form-control" id="specs" placeholder="List specs separate by ';'" name="specs" [(ngModel)]="spec" (input)="monitorSpecs()" (input)="monitorFields();">
                    <div class="mt-1 d-flex flex-wrap">
                      <div *ngFor="let item of product_obj.specs">  
                        <li class="border rounded-3 p-2 m-1" style="list-style: none;">{{item}} <a class="btn btn-close" style="width: 1px;" (click)="removeSpec(item)"></a></li> 
                      </div> 
                    </div>
                  </div> 
                <div class="mb-3 mt-3">
                    <label for="price_" class="form-label">Price:</label>
                    <div class="input-group"> 
                        <span class="input-group-text">R</span>
                        <input type="number" class="form-control" id="price_" placeholder="00.00" name="price_" [(ngModel)]="product_obj.price" (input)="monitorFields();">
                    </div>
                </div>  
                <div class="mb-3 mt-3">
                    <label for="category" class="form-label">Category:</label>
                    <select class="form-select" id="category" name="category" [(ngModel)]="product_obj.category" (input)="monitorFields();">
                        <option>Entertainment</option>
                        <option>Learning</option>
                        <option>Clothes</option>
                        <option>Accomodation</option> 
                        <option>Other</option> 
                    </select>
                </div> 
                <div class="mb-3 mt-3">
                    <label for="location" class="form-label">Where are you located?</label>
                    <select class="form-select" id="location" name="location" [(ngModel)]="product_obj.location" (input)="monitorFields();">
                        <option>Grahamstown</option>
                        <option>Johannesburg</option>
                        <option>Limpopo University</option>
                        <option>Capetown</option> 
                        <option>Free state</option> 
                        <option>Rustenburg</option> 
                        <option>Durban</option> 
                        <option>Pietermarizburg</option> 
                        <option>Other</option>
                    </select>
                </div>
                <div class="mb-3 mt-3">
                  <label for="picture_" class="form-label">Upload Picture:</label>
                  <input type="file" class="form-control" id="picture_" name="picture_" (change)="onFileSelected($event)">
                </div> 
                <div *ngIf="false" class="mb-3 mt-3">
                    <label for="other" class="form-label">Other:</label>
                    <input type="text" class="form-control" id="other" placeholder="" name="other">
                </div>  
            </form>
        </div>
         
        <!-- Modal footer -->
        <div class="modal-footer">
          <button *ngIf="formValid" type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="submit()">Post</button>
          <button *ngIf="!formValid" type="button" class="btn btn-success" (click)="submitFailed()">Post</button>
        </div>
  
      </div>
    </div>
  </div>