<div class="vertical-nav bg-light"> 
    <div class="clearfix">
      <div class="float-start">
        <ul class="nav flex-column">
          <!-- <li class="nav-item ms-2 ">
            <div style="text-align: center;" class="d-flex flex-column">
              <a routerLink="/manager" class="fs-1" style="cursor: pointer;"><i class="bi bi-list text-dark"></i></a>
            </div>
          </li> -->
          <li *ngIf="isAdmin" class="nav-item ms-2 ">
            <div style="text-align: center;" class="d-flex flex-column">
              <a routerLink="/manager" class="fs-1" style="cursor: pointer;"><i class="bi bi-person-lock"></i></a>
            </div>
          </li>
          
          <li class="nav-item ms-2 mt-2">
            <div style="text-align: center;" class="d-flex flex-column">
              <a routerLink="" class="text-success" style="cursor: pointer;"><i class="bi bi-plus-square fs-4"></i></a>
              <p style="font-size: small;">New Article</p>
            </div>
          </li>
          <li class="nav-item ms-2 mt-2">
            <div style="text-align: center;" class="d-flex flex-column">
              <a routerLink="/repository" class="text-dark" style="cursor: pointer;"><i class="bi bi-folder2 fs-4"></i></a>
              <p style="font-size: small;">Repository</p>
            </div>
            
          </li> 
          <li class="nav-item ms-2 mt-2">
            <div style="text-align: center;" class="d-flex flex-column"> 
              <a routerLink="/market" class="text-dark" style="cursor: pointer;"><i class="bi bi-shop fs-4"></i></a>
              <p style="font-size: small;">Market</p>
            </div>
            
          </li>
          <li class="nav-item ms-2 mt-2">
            <div style="text-align: center;" class="d-flex flex-column"> 
              <a routerLink="/help" class="text-dark" style="cursor: pointer;"><i class="bi bi-info-circle fs-4"></i></a>
              <p style="font-size: small;">Help</p>
            </div>
            
          </li>
          <li class="nav-item ms-2 mt-2">
            <div *ngIf="isLoggedIn" style="text-align: center;" class="d-flex flex-column">  
              <a routerLink="/logout" class="text-dark" style="cursor: pointer;"><i class="bi bi-box-arrow-in-left fs-4"></i></a>
              <p style="font-size: small;">Log out</p>
            </div>
            <div *ngIf="!isLoggedIn" style="text-align: center;" class="d-flex flex-column">  
              <a routerLink="/login" class="text-dark" style="cursor: pointer;"><i class="bi bi-box-arrow-in-right fs-4"></i></a>
              <p style="font-size: small;">Log in</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
