<div class="vertical-nav w-100 sticky-top"> 
    <div class="clearfix w-100">
      <div class="float-start w-100">
        <ul class="nav flex-column w-100">
          <!-- <li class="nav-item ms-2 ">
            <div style="text-align: center;" class="d-flex flex-column">
              <a routerLink="/manager" class="fs-1" style="cursor: pointer;"><i class="bi bi-list text-dark"></i></a>
            </div> 
          </li> -->
          <li class="nav-item pe-2 ps-2 pt-1">
            <div style="text-align: center;" class="d-flex flex-column justify-content-center">
              <a routerLink="/profile" style="cursor: pointer;"><i class="bi bi-person-circle fs-3"></i></a>
              <p *ngIf="user" style="font-size: medium;">{{user.name + " " + user.surname}}</p>
            </div>
          </li>

          <li *ngIf="isAdmin" class="nav-item p-2">
            <div style="text-align: center;" class="d-flex flex-row justify-content-center">
              <a routerLink="/manager" class="fs-1" style="cursor: pointer;"><i class="bi bi-person-lock"></i></a>
            </div>
          </li>

          <li class="nav-item mt-2 p-2">
            <div style="text-align: center;" class="d-flex flex-row justify-content-start">
              <a routerLink="" style="text-align: center; text-decoration: none;" class="d-flex flex-row justify-content-start text-dark">
                <i class="bi bi-house-door-fill fs-4"></i>
                <p class="pt-2 ms-4" style="font-size: medium;">Home</p>
              </a> 
            </div>
          </li> 
          
          <!-- <li class="nav-item mt-2 p-2">
            <div style="text-align: center;" >  
              <a routerLink="" style="text-align: center; text-decoration: none;" class="d-flex flex-row justify-content-start text-dark">
                <i class="bi bi-plus-square fs-4"></i>
                <p class="pt-2 ms-5" style="font-size: medium;">New Article</p>
              </a>
            </div>
          </li> -->
          <li class="nav-item mt-2 p-2">
            <div style="text-align: center;"> 
              <a routerLink="/repository" style="text-align: center; text-decoration: none;" class="d-flex flex-row justify-content-start text-dark">
                <i class="bi bi-folder2 fs-4"></i>
                <p class="pt-2 ms-4" style="font-size: medium;">Repository</p>
              </a>
            </div>
            
          </li> 
          <li class="nav-item mt-2 p-2">
            <div style="text-align: center;" class="d-flex flex-row justify-content-start"> 
              <a routerLink="/market" style="text-align: center; text-decoration: none;" class="d-flex flex-row justify-content-start text-dark">
                <i class="bi bi-shop fs-4"></i>
                <p class="pt-2 ms-4" style="font-size: medium;">Market</p>
              </a>
            </div>
            
          </li>

          <!-- <li class="nav-item ms-2 mt-2">
            <div style="text-align: center;" class="d-flex flex-column"> 
              <a routerLink="/therapy" class="text-dark" style="cursor: pointer;"><i class="bi bi-shop fs-4"></i></a>
              <p style="font-size: small;">Therapy</p>
            </div>
            
          </li> -->
          <li class="nav-item mt-2 p-2">
            <div style="text-align: center;">
              <a routerLink="/help" style="text-align: center; text-decoration: none;" class="d-flex flex-row justify-content-start text-dark">
                <i class="bi bi-info-circle fs-4"></i>
                <p class="pt-2 ms-4" style="font-size: medium;">Help</p>
              </a>
            </div>
            
          </li>
          <li class="nav-item mt-2 p-2">
            <div *ngIf="isLoggedIn" style="text-align: center;"> 
              <a routerLink="/logout" style="text-align: center; text-decoration: none;" class="d-flex flex-row justify-content-start text-dark">
                <i class="bi bi-box-arrow-in-left fs-4"></i>
                <p class="pt-2 ms-4" style="font-size: medium;">Log out</p>
              </a>
            </div>
            <div *ngIf="!isLoggedIn" style="text-align: center;"> 
              <a routerLink="/login" style="text-align: center; text-decoration: none;" class="d-flex flex-row justify-content-start text-dark">
                <i class="bi bi-box-arrow-in-right fs-4"></i>
                <p class="pt-2 ms-4" style="font-size: medium;">Log in</p>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
