<div>
    <h2>Sign In</h2>
    <form >
        <div class="mb-3 mt-3">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModel)]="email" value="{{email}}" (input)="verify()" required>
        </div>
        <div class="mb-3">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" [(ngModel)]="password" value="{{password}}" (input)="verify()"  required>
        </div>
        <div class="form-check mb-3">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember" [checked]="remember_me"> Remember me 
        </label>
        </div>
        <button class="btn btn-primary" type="button" (click)="handleLogin()" [disabled]="submit_disabled">Submit</button>

        <p class="mt-2">Don't have an account? <a routerLink="/signup" style="text-decoration: none;">Sign up</a></p>
    </form>
    
</div>
