 <div class="modal fade" id="calendar">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Calendar</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <div class="modal-body" style="height: 400px; width: 100%;">
            <div class="w-100 d-flex justify-content-between">
                <div><a class=""><i class="bi bi-chevron-left fs-3"></i></a></div>
                <div><h3>{{months[this.today.month].month}}</h3></div>
                <div><a class=""><i class="bi bi-chevron-right fs-3"></i></a></div>
            </div>
            <div class="table-responsive-sm">          
                <table class="table w-100">
                    <thead>
                        <tr>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th> 
                            <th>Sunday</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr>  
                            <td *ngFor="let item of week1">{{item}}</td>   
                        </tr>
                         <tr> 
                            <td *ngFor="let item of week2">{{item}}</td>
                        </tr>
                        <tr> 
                            <td *ngFor="let item of week3">{{item}}</td>
                        </tr>
                        <tr> 
                            <td *ngFor="let item of week4">{{item}}</td>
                        </tr>
                        <tr> 
                            <td *ngFor="let item of week5">{{item}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
  
        <!-- Modal footer -->
        <!--<div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>