<h3 class="mt-2">Chats</h3>
<div style="height: 200px;" class="w-100 d-flex flex-row justify-content-around flex-nowrap">
    <div class="border border-secondary w-25 rounded-4" style="height: 190px;">
        
    </div>
    <div class="border border-secondary w-25 rounded-4" style="height: 190px;">
            
    </div>
    <div class="border border-secondary w-25 rounded-4" style="height: 190px;">
        
    </div>
    <div class="pt-5"><button class="btn" data-bs-toggle="tooltip" title="New Chat" style="width: fit-content;"><i class="bi bi-plus-circle fs-2 mx-auto"></i></button></div>
</div>