
<div class="w-100 d-flex flex-row flex-wrap justify-content-center" style="height: 200px;">
    <ng-container *ngFor="let chat of filterArray">
        <div class="card w-25 rounded-4 m-1" style="height: 190px;">
            <div class="d-flex flex-row justify-content-between">
                <div class="w-75 rounded-5 m-2 p-2" style="height: 50px;">
                    <h5>{{chat.title}}</h5>
                </div>
                <span class="dropdown dropend">
                    <a class="float-end m-3" style="cursor: pointer;"  data-bs-toggle="tooltip" title="Profile" data-bs-toggle="dropdown">
                        <i class="bi bi-three-dots fs-5 text-dark"></i>
                    </a> 
                    <app-chat-options></app-chat-options>
                </span>
            </div>
            
            <div class="mt-4 h-50 w-100 d-flex justify-content-center">
                <div class="w-75 h-100 rounded-4 d-flex justify-content-center align-items-center">
                    <img src="favicon.ico" alt="chat profile" style="max-width: 100%; height: auto;">
                </div>
            </div>
        </div>
    </ng-container>
    <div *ngIf="allchats == 3" class="d-flex flex-column shadow p-1 fixed-end"> 
        <div style="text-align: center;" class="d-flex flex-column">
            <a routerLink="/newchat" class="text-dark" style="cursor: pointer;"><i class="bi bi-plus-square fs-4"></i></a>
            <p style="font-size: small;">New Chat</p>
        </div>
        <div style="text-align: center;" class="d-flex flex-column">
            <a routerLink="/allchats" class="text-dark" style="cursor: pointer;"><i class="bi bi-wechat fs-4"></i></a>
            <p style="font-size: small;">Show all</p>
        </div>  
        <div style="text-align: center;" class="d-flex flex-column">
            <a routerLink="/chatgroups" class="text-dark" style="cursor: pointer;"><i class="bi bi-chat-right-dots-fill fs-4"></i></a>
            <p style="font-size: small;">Groups</p>
        </div> 
        <!-- <a routerLink="/allchats"  style="text-decoration: none;" *ngIf="allchats == 3"><i class="bi bi-wechat fs-2"></i> Show all</a> -->
        <!-- temp -->
        <!-- <a routerLink="/chatgroups" class="float-end" style="text-decoration: none;" *ngIf="allchats == 3"><i class="bi bi-chat-right-dots-fill fs-2"></i> chat groups</a> -->
    </div>
</div>

