<a routerLink="/" class="text-dark" data-bs-toggle="tooltip" title="Home"><i class="bi bi-arrow-left-short fs-2"></i></a>
<h2>Stud-yO Repository</h2>

<div class="d-flex w-100">
    <!-- <i class="bi bi-table"></i> -->
    <div class="labels d-flex flex-nowrap w-50 mt-5">
        <div class="rounded-3 border w-25 m-1"><a href="#all" class="btn w-100" (click)="OnFilter('all')">All</a></div>
        <div class="rounded-3 border w-25 m-1"><a href="#science" class="btn w-100" (click)="OnFilter('science')">Science</a></div>
        <div class="rounded-3 border w-25 m-1"><a href="#law" class="btn w-100" (click)="OnFilter('law')">Law</a></div>
        <div class="rounded-3 border w-25 m-1"><a href="#it" class="btn w-100" (click)="OnFilter('it')">IT</a></div>
        <div class="rounded-3 border w-25 m-1"><a href="#humanities" class="btn w-100" (click)="OnFilter('humanities')">Humanities</a></div>
        <div class="rounded-3 border w-25 m-1"><a href="#other" class="btn w-100" (click)="OnFilter('other')">Other</a></div>
    </div>
    <div class="w-50 mt-5">
        <div class="rounded-3 border w-25 m-1 float-end"><a href="#" class="btn w-100" (click)="OnFilter('all')"><i class="bi bi-table fs-5"></i></a></div>
        <div class="rounded-3 border w-25 m-1 float-end"><a href="#" class="btn w-100" (click)="OnFilter('all')"><i class="bi bi-card-list fs-5"></i></a></div>
    </div>
</div>

<hr class="text-primary">

<div class="repo mt-3 d-flex flex-column">
    <div *ngIf="science" class="science w-100 mt-4">
        <h4>Science</h4>
        <div class="w-100 d-flex flex-wrap mt-3">
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Stud-yO<i class="bi bi-lock-fill fs-5"></i></h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div>     
            <div *ngFor="let folder of folder_list" class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>{{folder.title}}</h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div>  
            <div class="ms-5 mt-5"  data-bs-toggle="tooltip" title="New Folder"><a href="" data-bs-toggle="modal" data-bs-target="#newfoldermodal"><i class="bi bi-folder-plus fs-1"></i></a></div>
            <app-create-folder (dataEmitter)="addFolder($event)"></app-create-folder>
        </div>
        
    </div>

    <!--  -->
    <div *ngIf="law" class="law w-100 mt-4">
        <h4>Law</h4>
        <div class="w-100 d-flex flex-wrap mt-3">
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Stud-yO<i class="bi bi-lock-fill fs-5"></i></h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div>  
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Title</h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div>  
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Title</h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div> 
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Title</h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div> 
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Title</h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div>  
            <div class="ms-5 mt-5"  data-bs-toggle="tooltip" title="New Folder"><a href="" data-bs-toggle="modal" data-bs-target="#newfoldermodal"><i class="bi bi-folder-plus fs-1"></i></a></div>
            <app-create-folder></app-create-folder>
        </div>
        
    </div>
    <!--  -->

    <div *ngIf="it" class="it w-100 mt-4">
        <h4>IT</h4>
        <div class="w-100 d-flex flex-wrap mt-3">
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Stud-yO<i class="bi bi-lock-fill fs-5"></i></h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div>  
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Title</h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div>  
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Title</h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div> 
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Title</h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div> 
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Title</h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div>  
            <div class="ms-5 mt-5"  data-bs-toggle="tooltip" title="New Folder"><a href="" data-bs-toggle="modal" data-bs-target="#newfoldermodal"><i class="bi bi-folder-plus fs-1"></i></a></div>
            <app-create-folder></app-create-folder> 
        </div>
        
    </div>

    <!--  -->
    <div *ngIf="humanities" class="humanities w-100 mt-4">
        <h4>Humanities</h4>
        <div class="w-100 d-flex flex-wrap mt-3">
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Stud-yO<i class="bi bi-lock-fill fs-5"></i></h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div>  
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Title</h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div>  
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Title</h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div> 
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Title</h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div> 
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Title</h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div>  
            <div class="ms-5 mt-5"  data-bs-toggle="tooltip" title="New Folder"><a href="" data-bs-toggle="modal" data-bs-target="#newfoldermodal"><i class="bi bi-folder-plus fs-1"></i></a></div>
            <app-create-folder></app-create-folder> 
        </div>
        
    </div>
    <!--  -->

    <div *ngIf="other" class="other w-100 mt-4">
        <h4>Other</h4>
        <div class="w-100 d-flex flex-wrap mt-3">
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Stud-yO<i class="bi bi-lock-fill fs-5"></i></h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div>  
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Title</h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div>  
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Title</h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div> 
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Title</h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div> 
            <div class="m-1 border-bottom rounded-4 border-secondary border-2" style="width: 24%;">
                <div class=" w-100" style="text-align: center;"><i class="bi bi-folder-fill fs-1"></i></div>
                <div class="p-1">
                    <span class="float-end"><a href="#"><i class="bi bi-three-dots-vertical text-dark"></i></a></span>
                    <h6>Title</h6>
                    <p class="text-muted" style="font-size: small;">Updated today</p>
                </div>
            </div>  
            <div class="ms-5 mt-5"  data-bs-toggle="tooltip" title="New Folder"><a href="" data-bs-toggle="modal" data-bs-target="#newfoldermodal"><i class="bi bi-folder-plus fs-1"></i></a></div>
            <app-create-folder></app-create-folder> 
        </div>
        
    </div>

    <!--  -->
</div>
